/* Coolors Exported Palette - coolors.co/4cbfbf-ffa630-c1607d-c2c1c2-ccd749 */

/* HSL */
$teal: hsla(180%, 47%, 52%, 1);
$orange: hsla(34%, 100%, 59%, 1);
$pink: hsla(342%, 44%, 57%, 1);
$grey: hsla(300%, 1%, 76%, 1);
$green: hsla(65%, 64%, 56%, 1);

/* RGB */
$teal: rgba(76, 191, 191, 1);
$orange: rgba(255, 166, 48, 1);
$pink: rgba(193, 96, 125, 1);
$grey: rgba(194, 193, 194, 1);
$green: rgba(204, 215, 73, 1);
