/* Coolors Exported Palette - coolors.co/4cbfbf-ffa630-c1607d-c2c1c2-ccd749 */

/* HSL */
$color1: hsla(180%, 47%, 52%, 1);
$color2: hsla(34%, 100%, 59%, 1);
$color3: hsla(342%, 44%, 57%, 1);
$color4: hsla(300%, 1%, 76%, 1);
$color5: hsla(65%, 64%, 56%, 1);

/* RGB */
$teal: rgba(76, 191, 191, 1);
$orange: rgba(255, 166, 48, 1);
$pink: rgba(193, 96, 125, 1);
$grey: rgba(194, 193, 194, 1);
$brightgreen: rgba(204, 215, 73, 1);
