.all-charts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;

 -moz-box-shadow:    inset 0 0 10px #000000;
 -webkit-box-shadow: inset 0 0 10px #000000;
 box-shadow:         inset 0 0 10px #000000;
}

.chart-header {
  font-weight: bold;
  font-size: 20px;
}
