.all-charts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  padding: 5px;
  background: $grey;
  border-radius: 2px;
  align-self: center;
  font-family: $lato;
  width: auto;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  padding: 20px;
  border-radius: 2px;
  margin: 5px;

 // -moz-box-shadow:    inset 0 0 10px #000000;
 // -webkit-box-shadow: inset 0 0 10px #000000;
 // box-shadow:         inset 0 0 10px #000000;
}

.BarChart{
  width: auto;
  transition: width 1000ms;
}
.chart-header {
  font-family: $questrial;
  font-weight: bold;
  font-size: 20px;
}

.chart {
  font-family: $lato;
  // text-transform: uppercase;
}
.bubble-chart {
  text-transform: uppercase;
}
.bubble-chart p{
  margin-top: 7px;
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
  color: rgb(76, 191, 191);
  font-size: 16px;
}

circle:hover {
  fill: rgb(76, 191, 191) !important;
}
rect:hover {
  fill: gold !important;
}

.bar {
  fill: $teal;
}

circle:hover{
 cursor: pointer;
}
