.all-categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.category {
  display: flex;
  justify-content: center;
  width: 50%;
  box-shadow: 5px 5px 5px #888888;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px 0;
  color: black;
  cursor: move;
}

.category i{
    margin-right: 10px
}
.empty_category{
  display: flex;
  width: 51%;
  height: 36px;
  background-color: #d2dcdd;
  border: inset 4px;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px 0;
  color: black;
  cursor: move;
}

.green{
  background-color: #7fd1a4;
}

.yellow{
  background-color: #e6e886;
}

#drag_info{
  color: rgb(76, 191, 191);
  font-style: italic;
  font-weight: bold;
}
