.leaflet-container {
    height: 400px;
    width: 100%;
}

// .leaflet-popup {
//   transform: translate3d(1093px, 378px, 0px);
// }

.leaflet-popup-content-wrapper{
  height: 25px;
}
.leaflet-popup.leaflet-zoom-animated {
  height: 24px;
  bottom: 10px !important;
}

.map-container {
  width: 100%;
  position: relative;
}
.legend-box{
  position: absolute;
  top: 10px;
  left: 58px;
  z-index: 400;
  display: flex;
  border-radius: 3px;
}

.legend {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid $grey;
}

.legend li{
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  margin: 0 4px;
}

.legend span {
  margin-left: 6px;
  border-radius: 4px;
}

.public-transit {
  background: rgb(33,102,172);
  color: rgb(33,102,172);
}
.restaurants{
  background: rgb(118,42,131);
  color: rgb(118,42,131);
}

.crime{
  background: rgb(214, 14, 4);
  color: rgb(214, 14, 4);
}
.marker-content{
  z-index: 500;
  background: blue;
  border: 1px solid black;
  height: 100px;
}

.popup{
  z-index: 400;
}
.marker{
  z-index: 400;
}
.hacky-popup{
  font-size: 20px;
  padding: 10px 5px;
  color: $orange;
  font-weight: bold;

}
