.all-categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.category {
  width: 50%;

  border: 1px dashed gray;
  padding: 0.5rem 1rem;
  margin: 10px 0;

  color: black;

  cursor: move;
}
