.header {
   position: relative;
   height:60px;
   width:100%;

   background-color: white;
   border-bottom: 1px solid black;

   display: flex;
   justify-content: center;
   align-items: center;
}

.header h1 {
  font-family: 'Racing Sans One', cursive;
  font-size: 40px;
}

.logo-pt-1 {
  color: rgb(76, 148, 182);
}

.logo-pt-2 {
  color: rgb(237, 175, 89);
}

.logo-pt-3 {
  color: rgb(173, 28, 70);
}
