.leaflet-container {
    height: 400px;
    width: 100%;
}

.leaflet-popup {
  transform: translate3d(1093px, 378px, 0px)
}
.leaflet-zoom-animated{
  transform: translate3d(1093px, 378px, 0px)

}
.leaflet-popup-content-wrapper {
  height: 24px;
}

.map-container {
  width: 100%;
  position: relative;
}
.legend-box{
  position: absolute;
  bottom: 300px;
  z-index: 400;

}
.legend {
  display: flex;
}
.legend li{
  display: inline-block;
}
#popover-positioned-top {
  z-index: 400;
}
