.sidebar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
//
// .collapse.width {
//     height: auto;
//     -webkit-transition: width 0.35s ease;
//     -moz-transition: width 0.35s ease;
//     -o-transition: width 0.35s ease;
//     transition: width 0.35s ease;
// }

.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}
