.sidebar-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;
  right: 10px;
  top: 40px;
  z-index: 400;
}

.sidebar-button {
  margin-right: 5px;
}

.drag-area-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drag-area {
  width: 100%;
  padding: 14px 0;

  color: black;
  text-align: center;
  font-size: 15px;
}

.drag-area:first-of-type {
  border-bottom: 1px solid #d3d3d3;
}

.drag-area > h1 {
  font-size: 16px;
  font-weight: bold;
  // margin: 0 0 15px 0;
}

.panel-default {
  width: 350px;
}
