<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta charset="utf-8">
    <title>NextMoveSF</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link rel="stylesheet" src="/assets/stylesheets/map.css" />
    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
